<div class="container">
    <div *ngIf="brewery" class="brewery-details">
        <div  class="close">
        <button (click)="close()">x</button>    
        </div>
        <h2>{{ brewery.name }}</h2>
        <p>
            <i class="fa fa-industry"></i> {{ brewery.brewery_type | capitalizeFirst }}
        </p>
        <p>{{ brewery.address_1}}, {{ brewery.city }}, {{ brewery.state }}</p>
        <p>
            <i class="fa fa-phone"></i> (+1) {{ brewery.phone || 'N/A' }}
        </p>
    </div> 
</div>

  